/* Write your global styles here, in PostCSS syntax */
html,
body {
	@apply h-full overflow-hidden;
},

a::selection,
a::-moz-selection,
a::-webkit-selection {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}
